@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<div class="container-floating d-md-flex min-vh-100">
	<SideBar/>
	<div class="main p-4 flex-grow-1 overflow-hidden">
		@Body
	</div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>