<AuthorizeView>
    <Authorized>
        <a href="api/Account/Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="api/Account/Login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>